@font-face{
    font-family: 'Brush Khalifa';
    src: url(brush.otf) format('.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* @font-face {
    font-family: 'Red Hat Display Light';
    src: url(RedHatDisplay-VariableFont_wght.ttf) format('.ttf');
} */
a{
    text-decoration: none;
    color: inherit;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
}

.logopic {
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

.header {
    color: #1C243C;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    height: 70px;
    position: sticky;
    background-color: beige;
    top: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
    box-sizing: border-box;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}


.menu {
    padding-left: 35%;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;

}

.gear {
    color: #FF4500;
}

.home{
    transition: transform 0.3s ease, color 0.3s ease;
}
.camping, .fishing, .hiking, .gear,  .contact,.cart {
    padding-left: 50px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.home:hover, .camping:hover, .fishing:hover, .gear:hover,  .contact:hover ,.cart:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #FF4500;
}
.cartpic{
    width: 20px;
}

.first {
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-image: url(images/gearbg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -30%;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.quote {
 
    color: beige;
    font-family: 'Brush Khalifa', sans-serif;
    font-size: 180px;
    text-align: center;
    padding-top: 33%;
}

/* main */


.choosing{
    display: flex;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    color: #1C243C;
    justify-content: center;
}
.campinggear{
    text-decoration: solid, underline;
    color: #FF4500;
}
.fishinggear,.hikinggear{
 margin-left: 30px;   
 transition: transform 0.3s ease, color 0.3s ease;

}
.fishinggear:hover,.hikinggear:hover{
    transform: scale(1.1);
    color: #FF4500;

}
.row{
    display: flex;
    justify-content: center;
    margin: 30px;
    text-align: center;
}
.rowitem{
    border: rgb(237, 237, 208) 1px solid;
    margin: 30px;
    width: 200px;
    height: 300px;
    background-color: #FF4500;
    border-radius: 10px;
    transition: transform 0.3s ease, color 0.3s ease;

}
.rowitem:hover{
    cursor: pointer;
    transform: scale(1.1);
}


#i{
    background-image: url(images/campstove.jpg);
    background-size: cover;
}
#ii{
    background-image: url(images/camptent.jpg);
    background-size: cover;
}
#iii{
    background-image: url(images/sleepingbaggy.jpg);
    background-size: cover;
}
#iv{
    background-image: url(images/lanterncamp.jpg);
    background-size: cover;
}
#v{
    background-image: url(images/backpacc.jpg);
    background-size: cover;
}
#vi{
    background-image: url(images/trekpoles.jpg);
    background-size: cover;

}
#vii{
    background-image: url(images/filterwater.jpg);
    background-size: cover;

}
#viii{
    background-image: url(images/lamp.jpg);
    background-size: cover;

}
#ix{
    background-image: url(images/food.jpg);
    background-size: cover;

}
#x{
    background-image: url(images/navigation.jpg);
    background-size: cover;

}
#xi{
    background-image: url(images/firestarter.jpg);
    background-size: cover;

}
#xii{
    background-image: url(images/hammock.jpg);
    background-size: cover;

}

.loadmore{
    text-align: center;
    color: #FF4500;
    transition: transform 0.3s ease, color 0.3s ease;

}
.loadmore:hover{
    transform: scale(1.1);
    cursor: pointer;
}













/* footer */

.back{
    height: 150px;
}
.backtotop{
    font-size: 110%;
    margin-top: 25px;
    margin-left: 41%;
    width: 200px;
    height: 80px;
    background-color: #228B22;
    color: beige;
    border-radius: 45px;
    border-style: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease;

}
.backtotop:hover{
background-color: beige;
color: #228B22;
transform: scale(1.1);
}
.footer{
    background-color: #333333;
    height: 250px;
}
.icons{
    padding-top: 40px;
    padding-left: 37%;
    display: flex;
    align-items: center;
}
.icons>img{
    padding-left: 15px;
    width: 40px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;

}
.footertext{
    margin-top: 35px;
    margin-left: 34%;
    color: beige;
    width: 350px;
    text-align: center;
}
.inputs{
    padding-left: 10px;
    margin-top: 25px;
    margin-left: 30%;
}
.input.name{
    padding-left: 15px;
}
.name,.email{
    height: 25px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;

}
.sub{
    height: 30px;
    border-style: none;
    background-color: #FF4500;
    color: beige;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}
.name:hover{
    border-style: none;
    transform: scale(1.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.email:hover{
    border-style: none;
    transform: scale(1.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.sub:hover{
    cursor: pointer;
    border-style: none;
    transform: scale(1.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.icons>img:hover {
    cursor: pointer;
    transform: scale(1.1);
}